{% extends 'base.home.html.twig' %}
{% block title %}Speech | Accueil{% endblock %}

{% block body %}
    <p class="mt"><a href="{{ path('app_tts_index') }}"><button  id="toTTS" type="button" class="btn btn-cta btn-lg">Text-To-Speech page</button></a></p>
    <p class="mt"><a href="{{ path('app_stt_index') }}"><button id="toSTT" type="button" class="btn btn-cta btn-lg">Speech-To-Text page</button></a></p>

{% endblock %}
