{% extends 'base.html.twig' %}

{% block title %}Speech | TTS FrontEnd{% endblock %}

{% block body %}
    <div id="headerwrap2">
        <div class="container">
            <div class="row centered">
                <div class="col-sm-12">
                    <h1>Text-To-Speech Front-End Script</h1>
                    <div id="clignote"><h5>{% trans %}Choose a language and type in a text...{% endtrans %}</h5></div>
                    <div class="row centered pt-5 justify-content-center">
                        <div class="col-sm-8 rounded formwrapper pt-3">
                            {{ form(form)}}
                        </div>
                    </div>
                    <div class="row centered pt-2 justify-content-center">
                        <div class="col-sm-8  pt-3">
                            <audio autoplay class="audioContainer" id="audioPlayer" controls type="audio/ogg;codecs=opus" crossorigin="anonymous" src="">{% trans %}Your browser does not support the audio element.{% endtrans %}</audio>
                        </div>
                    </div>
                    <div class="row centered pt-3 flex-wrap-reverse">
                        <div class="col-sm-6 centered">
                            <a href="{{ path('app_stt_index') }}"><img src="{{ asset('lib/images/goback.png') }}" alt="go back" height="50px" title="{% trans %}Go Back{% endtrans %}"/></a>
                        </div>
                        <div class="col-sm-6 centered">
                            <img id="playBtn" src="{{ asset('lib/images/play-469.png') }}"  class="play_btn" alt="Play" height="50px" title="{% trans %}Play{% endtrans %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}